
/* تصمميم صفحه الهوم last courses slider  */
.fh5co-blog > a img {
    width: 420px;
    height: 260px;
}
/* carusel2  */
.center{
    padding-bottom: 2em;
}
/* carusel3  */
section.courses .item img {
    
    height: 200px;
    width: 330px;
}
section.courses .item .down-content{
    height: 200px;
}

.btn-primary {
    background: #232220;
    color: #fff;
    border: 2px solid #eceae7;
};

/* تصميم صفحه الكورس  */
.fh5co-cover .overlay{
    background: #4f4f4f;
}
.coursepic{
    padding: 20px;
}
.color{
    color: #90968b;
    font-size: 20px;
}
section.courses{
    background-color: #4f4f4f !important;
    background-image: none !important;
}



.auth-img  {
    width: 98px !important;
    border: 2px solid #f5a425 !important;
    border-radius: 50% !important;
    text-align: left;
    display: inline-block;
    position: absolute !important;
    top: 198px !important;
    right: 0px !important;
}



/* profile page  */

/* body{
    margin-top:20px;
    color: #e61931;
    text-align: left;
    background-color: #408df1;    
} */
.main-body {
    padding: 15px;
    margin-top:20px;
    color: #0a0102;
    text-align: left;
    /* background-color: #408df1;     */
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.text-secondary {
    color: #070607!important;
    font-size: 20px;
}
.btn {
    font-size:17px !important;
}
.card{
    left: -129px !important;
}

.fh5co-cover.fh5co-cover-sm {
    height: 450px;
}

#form{
    display:none;
}